<mat-card class="course-form">
  <mat-card-header class="course-form__header">
    <mat-card-title class="course-form__header-title">
      Detalhes do Curso
    </mat-card-title>
    <mat-card-subtitle class="course-form__header-subtitle">
      Cadastre aqui um novo curso
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="course-form__content">
    <form [formGroup]="form" class="course-form__content-form">
      <mat-form-field
        appearance="outline"
        class="course-form__content-form-field"
      >
        <mat-label class="course-form__content-form-field-label">
          Nome do curso
        </mat-label>
        <input
          matInput
          placeholder="Digite o nome do curso"
          formControlName="name"
          class="course-form__content-form-field-input"
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="course-form__content-form-field"
      >
        <mat-label class="course-form__content-form-field-label">
          Categoria do curso
        </mat-label>
        <mat-select
          formControlName="category"
          class="course-form__content-form-field-input"
        >
          <mat-option value="null"></mat-option>
          <mat-option value="Frontend">Frontend</mat-option>
          <mat-option value="Backend">Backend</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Salvar
    </button>
    <button mat-stroked-button color="warn" (click)="onCancel()">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
