.course-form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 32px auto;

  @media only screen and (min-width: 768px) {
    width: 50%;
  }

  &__header {
    place-content: center;
  }

  &__content {
    display: flex;
    place-content: center;
    &-form {
      &-field {
        display: block;

        &:first-child {
          margin-bottom: 8px;
        }
      }
    }
  }
}
